.nav-bar {
    position: fixed;
    display: flex;
    justify-content:center;
    text-align: justify;
    gap: 2rem;
    background: rgba(255,255,255,0.75);
    padding: 1rem;
    top: 0;
    width: 100%;
    z-index: 10;
}

.menu-button {
    display: none;
}

/* responsive styles */
@media screen and (max-width: 600px) {
  /* .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0.5rem;
    text-align: center;
  } */

  .nav-bar {
    flex-direction: column;
  }

  .menu-button {
    display: block;
  }

  /* .nav-bar a {
    /* margin-top: 0.5rem;
    font-size: 1rem;
  } */

  .nav-bar a {
    display: none;
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
  }

  .side-menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .side-menu a:hover {
    background-color: #555;
  }

  .show-menu .side-menu {
    left: 0;
  }

}